body{
    background-image: url(background.jpg);
    color: white;
    background-size: cover;
    height: 100%;
    width: 100%;
}

header{
    text-align: center;
}

.trasparenza{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    text-align: left;
    margin: 25px;
    padding: 55px;
}

.logo{
    width: 150px;
}

.titolo{
    font-size: 12px;
    color: lime;
}

.comandi{
    width: 70%;
    height: 20%;
    background-color: lime;
    padding: 20px;
    display: inline-block;
    text-align: center;
    margin-bottom: 3%;
}

.monopattino{
    font-weight: 700;
    font-size: 120%;
}

.batteriaarancione, .batteriarossa, .batteriaverde{
    height: 30px;
    border-radius: 5px;
    margin-bottom: 2%;
}

.batteriaarancione{
    width: 28%;
    background-color: #ecb653;
}

.batteriaverde{
    width: 50%;
    background-color: #56b814;
}

.batteriarossa{
    width: 10%;
    background-color: #ec5353;
}